.header {
    background-color: #373A3C;
    height: 60px;
    width: 1400px;
    left: 0px;
    top: 0px;
    border-radius: 4px;

}

.nav-ul {
    display: flex;
    justify-content: center;
    padding: 0;

}

.nav-li {
list-style: none;
padding: 10px;
}

li.nav-li a {
text-decoration: none;
font-size: 16px ;
color: #FFFFFF;

}

.nav-li1 {
    list-style: none;
}

.search {
    height: 38px;
    width: 209.7951202392578px;
    left: 877px;
   
    border-radius: 4px;

}

.Xbox {
    color: #FFFFFF80;
    

}